.top{
	margin-top: 80px;
	height: 185px;
    width: 100%;
    text-align: center;
    background: url(../image/aTOp.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.grayBg{
	background-color: #f2f2f2;
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: -20px;
	padding-bottom: 40px;
}
.grayBg_One{
	width: 1100px;
	margin: auto;
	white-space: nowrap;
}
.grayBg_OneL{
	background-color: #ffffff;
    display: inline-block;
    text-align: left;
    width: 830px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 12px;
    position: relative;
    top: -80px;
}
.grayBg_OneR{
	position: relative;
    top: -56px;
    left: -51px;
}
.grayBg_OneR img{
	width: 319px;
	height: auto;
}
.grayBg_Two{
	width: 1100px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin:auto;
	background-color: #ffffff;
	position: relative;
	top: -60px;
}
.grayBg_TwoTop{
	text-align: left;
	margin-left: 70px;
}
.grayBg_Twotips{
	font-size: 12px;
	color: #a3a1a1;
	margin-top: -10px;
}
.grayBg_Twoimg img{
	margin-top: 20px;
}
.grayBg_Three{
	width: 1100px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin:auto;
	background-color: #ffffff;
	position: relative;
	top: -40px;
}
.grayBg_Four{
	margin:auto;
	width: 1100px;
	position: relative;
	top: -20px;
}
.grayBg_FourL{
	height: 300px;
    width: 450px;
    background: url(../image/Ffleft.png) no-repeat ;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    margin-right: 25;
    text-align: left;
}
.grayBg_FourR{
	height: 300px;
    width: 616px;
    margin-left: 25px;
    background: url(../image/map.png) no-repeat ;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    display: inline-block;
}
.grayBg_FourLBg{
	position: absolute;
	color: white;
	left: 40px;
	top: 40px;
}
.grayBg_FourUp{
	margin-top: -10px;
}
